# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../:\ideaWorkSpace\hello\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/

.idea
*.iml
out
gen
.classpath
*.eml
target
*.log
.log.
generatorConfig.xml
.DS_Store
*.cache
.lock
